html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

*::-moz-selection {
  background: #f4e7dc; }

*::selection {
  background: #f4e7dc; }

body {
  min-width: 1000px;
  margin: 0;
  padding: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px; }

.page-basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 32px; }
  .page-basket__products {
    width: 77%; }
  .page-basket__basket {
    width: 23%;
    margin-top: 33px; }

.page-header {
  min-height: 100px;
  margin-bottom: 22px;
  padding: 23px 10px 21px 10px;
  background-color: #000000; }

.page-footer {
  min-height: 125px;
  background-color: #10546b; }

.button {
  min-width: 201px;
  min-height: 41px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1.4px 1.4px 2px rgba(2, 89, 117, 0.6);
  background-color: #00ade4;
  border: 0;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover, .button:focus {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8); }
  .button--order {
    background-color: #29d807; }

.products-list {
  margin: 0;
  margin-right: 53px;
  padding: 0;
  list-style: none; }
  .products-list__item + .products-list__item {
    border-top: 2px solid #d4d4d4; }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 240px;
  padding-top: 18px;
  padding-bottom: 17px; }
  .product__photo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-left: -10px; }
  .product__name {
    margin: 11px 0 8px 0;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.4px; }
  .product__descr {
    margin: 0;
    letter-spacing: 0.4px; }
  .product__info {
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.3px; }
  .product__photo {
    margin-right: 20px; }
  .product__order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    margin-left: 14px;
    padding-top: 15px; }
  .product__price {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px; }

.basket {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 228px;
  padding: 15px 5px 14px 8px;
  border: 2px solid #d4d4d4;
  border-radius: 10px; }
  .basket__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 63px;
    margin: 0 0 30px 5px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px; }
    .basket__title::before {
      content: "";
      display: block;
      width: 91px;
      height: 63px;
      margin-right: 16px;
      background-image: url("../img/icon-busket.jpg");
      background-repeat: no-repeat;
      background-position: center; }
  .basket__order {
    margin-bottom: 19px; }
    .basket__order td {
      vertical-align: top; }
  .basket__delete {
    padding: 0; }
    .basket__delete button {
      width: 10px;
      height: 10px;
      background-color: transparent;
      background-image: url("../img/icon-delete.jpg");
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
      cursor: pointer; }
  .basket__product-name {
    padding-bottom: 10px;
    padding-left: 7px; }
  .basket__price {
    min-width: 75px;
    font-weight: bold;
    text-align: right; }
  .basket__footer {
    border-top: 1px solid #d4d4d4; }
  .basket__sum {
    margin: 0;
    margin-top: 13px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.3px; }
  .basket__num {
    font-weight: bold; }
  .basket__btn {
    display: block;
    margin: 0 auto;
    margin-top: 31px; }
