.basket {
  position: sticky;
  top: 0;
  min-height: 228px;
  padding: 15px 5px 14px 8px;
  border: 2px solid #d4d4d4;
  border-radius: 10px;

  &__title {
    display: flex;
    align-items: center;
    min-height: 63px;
    margin: 0 0 30px 5px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.5px;

    &::before {
      content: "";
      display: block;
      width: 91px;
      height: 63px;
      margin-right: 16px;
      background-image: url("../img/icon-busket.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__order {
    margin-bottom: 19px;

    & td {
      vertical-align: top;
    }
  }

  &__delete {
    padding: 0;

    & button {
      width: 10px;
      height: 10px;
      background-color: transparent;
      background-image: url("../img/icon-delete.jpg");
      background-repeat: no-repeat;
      background-position: center;
      border: 0;
      cursor: pointer;
    }
  }

  &__product-name {
    padding-bottom: 10px;
    padding-left: 7px;
  }

  &__price {
    min-width: 75px;
    font-weight: bold;
    text-align: right;
  }

  &__footer {
    border-top: 1px solid #d4d4d4;
  }

  &__sum {
    margin: 0;
    margin-top: 13px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.3px;
  }

  &__num {
    font-weight: bold;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    margin-top: 31px;
  }
}
