.button {
  min-width: 201px;
  min-height: 41px;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 1.4px 1.4px 2px rgba(2, 89, 117, 0.6);
  background-color: #00ade4;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: brightness(0.8);
  }

  &--order {
    background-color: #29d807;
  }
}
