.page-basket {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;

  &__products {
    width: 77%;
  }

  &__basket {
    width: 23%;
    margin-top: 33px;
  }
}
