.product {
  display: flex;
  min-height: 240px;
  padding-top: 18px;
  padding-bottom: 17px;

  &__photo {
    flex-shrink: 0;
    margin-left: -10px;
  }

  &__name {
    margin: 11px 0 8px 0;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.4px;
  }

  &__descr {
    margin: 0;
    letter-spacing: 0.4px;
  }

  &__info {
    padding: 0;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }

  &__photo {
    margin-right: 20px;
  }

  &__order {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 14px;
    padding-top: 15px;
  }

  &__price {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
  }
}
